<table>
  <tbody>
  <tr>
    <th>Callback URL</th>
    <td>
      <input type="text" id="settings_callback_url"
             value="<%= settings['callback_url'] %>"
             name="settings[callback_url]" >
    </td>
  </tr>
  </tbody>
</table>